<!DOCTYPE html>

<html>

	<head>
		<title>Shotgun cours en ligne</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

	</head>

	<body>
		<h1>Site de shotgun</h1>

		<form action="/shotgun/add/form_1" id="data1" method = "post" >
			<fieldset class="test">

		<label for="name">Votre nom :</label>
                <input type="text" name="name" id="name" autofocus />
		<p>
		Votre année : 
		<select name="year" size="1" id="year">
				<option>022
				<option>021
				<option>020
				<option>019
		</select>
		</p>
	</fieldset>
	<fieldset>
		<p>
		Quelle langue choisissez vous ?
		<select name="langue" size="1" for="langue">
			<option>anglais
			<option>allemand
		</select>
		<p>
		<label for="bail">Des bails chelous ?</label>
                <input type="text" name="bail" id="bail" autofocus />
        </p>
		<p>
		</p>
		<p>
		Quelle sport choisissez vous ?
		<select name="sport" size="1" for="sport">
			<option>tennis
			<option>aviron
		</select>
		<input type="submit" value="Suite"/>
		</p>
	</fieldset>
		</form>
		<script src="/socket.io/socket.io.js"></script>
	<script>
		/*var socket = io.connect('http://localhost:8080');

		var data1 = document.getElementById('data1');
		data1.addEventMistener('change', function (e) {
		alert('test de merde');
		var name = document.getElementById('name');
		name.addEventListener('change', function () {
			var answer = name.options[name.selectedIndex].innerHTML:
			socket.emit('name', answer);
		});

		var year = document.getElementById('year');
		year.addEventListener('change', function () {
			var answer = year.options[year.selectedIndex].innerHTML;
			socket.emit('year', answer);
		});
				

		var class1 = document.getElementById('class1');
		class1.addEventListener('change', function () {
			var answer = class1.options[class1.selectedIndex].innerHTML;
			socket.emit('class1', answer);
		});
			socket.emit('form_1');
		});
		*/
		
		
				
	</script>


	</body>
</html>
