<!DOCTYPE html>

<html>

	<head >
		<title >Shotgun cours en ligne</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

	</head>

	<body>
	
	<form action="/shotgun/add/form_1" id="form" method = "post" >
	<h1>Site de shotgun</h1>
		
	<img id= "logo" src="/css/logo_pont.png">
	<div class="tab">


	<h2> Votre profile </h2>
		<p>
			Votre nom :
		</p>
	<p>
	<label for="name">Prénom :</label>
        <input type="text" name="first_name" id="first_name" />
	</p>
	<p>
        <label for="name">Nom :</label>
        <input type="text" name="last_name" id="last_name" />
	</p>
	<p>
	Votre promo : 
	<select name="year" size="1" id="year">
		<option>Votre année
		<option>022
		<option>021
		<option>020
		<option>019
	</select>
	
	</p>
	</div>
	<div class="tab">
		<p>
		Quelle langue choisissez vous ?
		<select name="langue" size="1" id="langue">
			<option>Votre langue
			<option>anglais
			<option>allemand
		</select>
		
		<p>
		Quelle sport choisissez vous ?
		<select name="sport" size="1" id="sport">
		</select>
		</p>
	</div>	
	<div class="tab">
		<p>
			Veuillez classer les cours disponibles pour vous:
	<select id="class1">
	</select>
	</div>

	<div style="overflow:auto;">
  		<div style="float:right;">
   	 		<button type="button" id="prevBtn" onclick="change(-1)">Previous</button>
    		<button type="button" id="nextBtn" onclick="change(1)">Next</button>
  		</div>
	</div>
		</form>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	var socket = io.connect('http://localhost:8080');
	function send_data_selected(tag, data, socket, type) {
		data.addEventListener(type, function() {
			var analyse = data.options[data.selectedIndex].innerHTML;
			if (data.selectedIndex >= 1) { 
				socket.emit(tag, analyse);
			}
			});
		}
	
	function send_data_text(tag, data, socket, type) {
		data.addEventListener(type, function() {
			var analyse = data.value;
			socket.emit(tag, analyse);
		});
	}
	
	send_data_text('first_name', document.getElementById("first_name"), socket, 'blur');
	send_data_text('last_name', document.getElementById("last_name"), socket, 'change');
	send_data_selected('year', document.getElementById("year"), socket, 'change');

	send_data_selected('langue', document.getElementById("langue"), socket, 'change');
	socket.on('langue', function(langue_list) {
		var n = langue_list.length;
		document.getElementById("class1").innerHTML = "";	
		document.getElementById("class1").innerHTML += "<option>Choix de votre cours";
		for (var i=0; i<n; i++)
		{
			document.getElementById("class1").innerHTML += "<option>" + langue_list[i].libelle;
		}
	});
	socket.on('sport', function(sport_list) {
		var n = sport_list.length;
		document.getElementById("sport").innerHTML = "";	
		document.getElementById("sport").innerHTML += "<option>Choix de votre sport";
		for (var i=0; i<n; i++)
		{
			document.getElementById("sport").innerHTML += "<option>" + sport_list[i].Libelle;
		}
	});
	</script>
	<script>	

			
		
	// need to see in which slide we are
	var counter = 0;
	// show the current slide
	showSlide(counter)

	function showSlide(n){
		// get the list of all the element of the class tab
		tab = document.getElementsByClassName("tab");
		// diplay the good one
		tab[n].style.display = "block";
		// need to display the button: we test if we are at the beggining or the end because the button changed
		if (n == 0){ // we don't display the button next 
			document.getElementById("prevBtn").style.display = "none";
		}
		else{
			document.getElementById("prevBtn").style.display = "inline";
		}
		if (n == (tab.length - 1)){ //if we are at the end of the form 
			document.getElementById("nextBtn").innerHTML = "Submit";
		}
		else{
			document.getElementById("nextBtn").innerHTML = "Next";
		}

	}
	function change(n){
		tab = document.getElementsByClassName("tab");
		if (n + counter >= 0 && n + counter < tab.length){
			tab[counter].style.display = "none";
			counter = counter + n;
		}
		showSlide(counter);
	}


	
	
	
		
	</script>


	</body>
</html>
