<!DOCTYPE html>

<html>

	<head >
		<title >Shotgun cours en ligne</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

	</head>

	<body>
	
	<form action="/shotgun/add/form_1" id="form" method = "post" >
	<h1>Site de shotgun</h1>
		
	<img id= "logo" src="/css/logo_pont.png">
	<div class="tab">


	<h2> Votre profil </h2>
	<p>
	<label for="name">Prénom :</label>
        <input type="text" name="first_name" id="first_name" />
	</p>
	<p>
        <label for="name">Nom :</label>
        <input type="text" name="last_name" id="last_name" />
	</p>
	<p>
		Votre promo : 
		<select name="year" size="1" id="year">
		</select>
	
	</p>

	</div>
	<div class="tab">
		<p>
		Quelles langues choisissez vous ?
		 
		
	<select multiple  name ="langue" size="1" id="langue">
	</select>
		</p>
	<p>
	Quel sport choisissez vous ?
	<select name="sport" size="1" id="sport">
	</select>

		</p>	


		<p> 
			Combien de cours de langue voulez vous? 
			<input type="number" id = "number" name="howmuch" min="0" max = "4">
		</p>
	</div>	
	<div class="tab">
			Veuillez classer les cours disponibles pour vous:
		<div class ="ranking_form_class1">
				<ul class = "column" id = "rank_class1">
				</ul>
			
				<ul class = "column" id = "class1">
				</ul>
			
		</div>

	</div>
	


	
	<div style="overflow:auto;">
  		<div style="float:right;">
   	 		<button type="button" class="button"  id="prevBtn" onclick="change(-1)">Previous</button>
    			<button type="button" class="button"  id="nextBtn" onclick="change(1)">Next</button>
			<input type="submit" class="button"  id="finalBtn"  value="Valider" onclikck="change(1)"/>
  		</div>
	</div>
	</form>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	
	function drag_n_drop(){
	var dnd_Manager = {

			draggedElement: null,

			dragEvents: function(element) {
				element.draggable = true;
				var dnd_Manager = this;
				element.addEventListener('dragstart', function(e) {
					dnd_Manager.draggedElement = e.target;
					e.dataTransfer.setData('text.plain', '');

				});
			},

			dropEvents: function(dropper) {
				dropper.addEventListener('dragover', function(e) {
					e.preventDefault();
				});

				var dnd_Manager = this;

				dropper.addEventListener('drop',function(e) {
					var target= e.target,
					    draggedElement = dnd_Manager.draggedElement;

					 var clone = draggedElement.cloneNode(true);
					while  (target.className.indexOf('column') == -1) {
						target = target.parentNode;
					}
					clone = target.appendChild(clone);
					dnd_Manager.dragEvents(clone);
					draggedElement.parentNode.removeChild(draggedElement);
					if (clone.className != 'list_langue_ranked') {
						clone.className = 'list_langue_ranked'; 
					}
					else if (target.id == 'class1') {
  						clone.className = 'list_langue';
					}
			});
			}
				
	};
	var list_langue = document.querySelectorAll('.list_langue'),
		list_size = list_langue.length;

	for (var i = 0; i < list_size; i++) {
		dnd_Manager.dragEvents(list_langue[i]);
		}

		var columns = document.querySelectorAll('.column'),
		    col_size = columns.length;

		for (var i = 0; i < col_size; i++) {
			dnd_Manager.dropEvents(columns[i]);
		}
	}

	var socket = io.connect('http://localhost:8080');
	function send_data_selected(tag, data, socket, type) {
		data.addEventListener(type, function() {
			var analyse = data.options[data.selectedIndex].innerHTML;
			if (data.selectedIndex >= 1) { 
				socket.emit(tag, analyse);
			}
			});
		}
	
	function send_data_text(tag, data, socket, type) {
		data.addEventListener(type, function() {
			var analyse = data.value;
			console.log(data.value);
			socket.emit(tag, analyse);
		});
	}
	
	send_data_text('first_name', document.getElementById("first_name"), socket, 'blur');
	send_data_text('last_name', document.getElementById("last_name"), socket, 'change');
	socket.on('last_name', function(invalid) {
		console.log('socket')
		if (invalid) { 
			alert("Ce nom est déjà pris veuillez en choisir un autre")
			document.getElementById("last_name").value = "";
		}
	});
	send_data_selected('year', document.getElementById("year"), socket, 'change');
	send_data_selected('langue', document.getElementById("langue"), socket, 'change');
	send_data_selected('sport', document.getElementById("sport"), socket, 'change');
	send_data_text('number', document.getElementById("number"), socket, 'change');


	socket.on('promo_list', function(promo_list) {
		var n = promo_list.length;
		document.getElementById("year").innerHTML = "";	
		document.getElementById("year").innerHTML += "<option>Choix de votre promo";
		for (var i=0; i<n; i++){
			document.getElementById("year").innerHTML += "<option>" + promo_list[i].libelle;
		}
	});

	socket.on('langue_list', function(langue_list) {
		var n = langue_list.length;	
		for (var i=0; i<n; i++)
		{
			document.getElementById("langue").innerHTML += '<option>' + langue_list[i].libelle;
			
			//document.getElementById("langue").innerHTML += '<input class="inputLangue" type="checkbox" name="list_langue[]" value="'+ langue_list[i].libelle +'" > '+ langue_list[i].libelle +' <br>';
		}
	});

	socket.on('sport_list', function(sport_list) {
		var n = sport_list.length;
		document.getElementById("sport").innerHTML = "";	
		document.getElementById("sport").innerHTML += "<option>Choix de votre sport";
		for (var i=0; i<n; i++)
		{
			document.getElementById("sport").innerHTML += '<option>' + sport_list[i].libelle;
		}
	});




	
	socket.on('classs', function(langue_list) {
		var n = langue_list.length;
		document.getElementById("class1").innerHTML = "";
		for (var i=0; i<n; i++)
		{

			document.getElementById("class1").innerHTML += "<li class = 'list_langue'>" + langue_list[i].libelle;

		}
		drag_n_drop();
		

		var submit = document.getElementById("finalBtn");
		submit.addEventListener('click', function () {
			var rank = document.querySelectorAll('.list_langue_ranked'),
		    	rank_size = rank.length;
			//alert(rank_size);
			var rank_emit = new Array();
			for (var i = 0; i < rank_size; i++) {
				//alert(rank[i].innerHTML);
				rank_emit.push(rank[i].innerHTML);
			}
			socket.emit('rank_langue', rank_emit);});
	});
	</script>
	<script>	

				
		
	// need to see in which slide we are
	var counter = 0;
	// show the current slide
	showSlide(counter)

	 function getSelectValues(select) {
 		var result = [];
 		var options = select && select.options;
		var opt;

  		for (var i=0, iLen=options.length; i<iLen; i++) {
    	opt = options[i];

    	if (opt.selected) {
      		result.push(opt.value || opt.text);
    		}
  		}
  	return result;
	}

	function showSlide(n){
		// get the list of all the element of the class tab
		tab = document.getElementsByClassName("tab");
		// diplay the good one
		tab[n].style.display = "block";
		// need to display the button: we test if we are at the beggining or the end because the button changed
		if (n == 0){ // we don't display the button next 
			document.getElementById("prevBtn").style.display = "none";

		}
		else{
			document.getElementById("prevBtn").style.display = "inline";
			document.getElementById("nextBtn").style.display = "inline";

		}
		if (n == (tab.length - 1)){ //if we are at the end of the form 
			document.getElementById("nextBtn").style.display = "none";
			document.getElementById("finalBtn").style.display = "inline";
			var x = document.getElementById("langue");
			var y = getSelectValues(x);
			socket.emit('langue_selected', y);
			alert(y);
			socket.emit('classs');
	
		}
		else{
			document.getElementById("nextBtn").innerHTML = "Next";
			document.getElementById("finalBtn").style.display = "none";

		}

}
	function change(n){
		tab = document.getElementsByClassName("tab");
		if( n > 0){
			if(validate_part() ){
				if (n + counter >= 0 && n + counter < tab.length){
					tab[counter].style.display = "none";
					counter = counter + n;
					}
				}
			}

		else {
			if (n + counter >= 0 && n + counter < tab.length){
				tab[counter].style.display = "none";
				counter = counter + n;
		}
		}
		showSlide(counter);
	}

	function change_statu(element, cas_base){

		var v = true;
		if(element.value == cas_base){
			v = false;
			element.className += " invalide";
			element.classList.remove("valide");
		}
		else{
			element.classList.remove("invalide");
			element.className += " valide";
				}
			
		return v;
	}

	function validate_part(){
		var validate = true;
		var x = document.getElementsByClassName("tab");
		if(counter == 0){
			var y = x[counter].getElementsByTagName("input");
			for(i=0; i < y.length; i++){
				validate = (change_statu(y[i], "") && validate);
			}
			var z = document.getElementById("year");
			validate = (change_statu(z, "Choix de votre promo") && validate);
			
		}
		else{
			if(counter == 1){
				var y = document.getElementById("langue");
				var yy = getSelectValues(y);
				validate = (yy.length > 0) && validate;
				var z = document.getElementById("sport");
				validate = (change_statu(z, "Choix de votre sport") && validate);
				
				var w = document.getElementById("number");
				if(w.value == "" || w.value == "0"){
					validate = false;
					w.className += " invalide";
					w.classList.remove("valide");
				}
				else{
					w.classList.remove("invalide");				
					w.className += " valide";		
				}
		}
	}

		return validate;
		
	}
		</script>


	</body>
</html>
