<!DOCTYPE html>
<html>
<title> Shotgun </title>
<head>
    <title>Shotgun cours en ligne</title>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <body>
    <div class="w3-container w3-gray">
    <h1>Site de shotgun</h1>
     </div>
     <div class="w3-container">
    <form action="/shotgun/add/year" method="post">
    <p>
    Votre année :
    <select name="year" size="1" for="year">
        <option>022
        <option>021
        <option>020
        <option>019
    </select>
    <input type="submit" /> 
    </p>
    </form>

    <form action="/shotgun/add/class1" method="post">
    <p>
    Quelle première classe choisissez vous ?
    <select name="class1" size="1" for="year">
      <option>anglais
      <option>allemand
    </select>
    <input type="submit"/>
    </p>
    </form>
  </div>
  </body>
</html> 

