<!DOCTYPE html>

<html>
	<head>
		<title>Shotgun cours en ligne</title>
	</head>

	<body>
		<h1>Site de shotgun</h1>
		 
		<form action="/shotgun/add/year" method="post">
		<p>
		Votre année :
		<select name="year" size="1" for="year">
				<option>022
				<option>021
				<option>020
				<option>019
		</select>
		<input type="submit" />	
		</p>
		</form>

		<form action="/shotgun/add/class1" method="post">
		<p>
		Quelle première classe choisissez vous ?
		<select name="class1" size="1" for="year">
			<option>anglais
			<option>allemand
		</select>
		<input type="submit"/>
		</p>
		</form>
	</body>
</html>
