/* style.css */

*{
	text-align: center;
	font-family: Optima, sans-serif;

}
body{
	color: #003399;
	width: 50%;
	height: 800px;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto; 
    background-color: #377CB9;
}

p{
	font-size : 100%;
}

.tab{
 	background: #D3D3D3	;
 	display: none;
 	border-radius: 20%;
 	margin: 80px auto;
  	padding: 40px;
  	width: 60%;
 }
#form {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  border: 10px solid#003399; 
}
button{
	color: white;
	background-color: #003399;
	border-radius: 10%;
	font-size: 23px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border: 2px solid black; /* Green */
}
#logo {
  background-image: url(/css/logo_pont.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 103px;
  padding: 0;
}

button:hover {
  background-color: white; /* Green */
  color: #003399;
}

/*#row_langue:after {
	content: "";
	display: table;
	clear: both;
}*/

#class1  {
	width: 80%;
	height: 330px;
	overflow: scroll;
}

#class1 li {
	border: 1px solid #ddd; 
	margin-top: -1px; 
	background-color: black; 
	padding: 12px; 
	font-size: 18px;
	color: white; 
	display: block; 
}


